<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>系统维护</title>
</head>
<body>
<div style="width: 100%;height: 100%;">
	<div style="text-align: center;margin-top: 160px;">
		<div><img src="/image/nodata-img-safeguard.png" alt="" width="500px" height="500px"></div>
		<div style="margin: 20px 0 0 0;"><a href="/" title="返回首页"><img src="/image/nodata-btn.png" alt="" width="150"></a></div>
	</div>
</div>
</body>
</html>